[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "*"
flask = "*"
watchdog = "*"
google = "*"
protobuf = "*"
numpy = "*"
nnabla = "*"

[dev-packages]
wheel = "*"

[requires]
mpython_version = "3.6.5"
