[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "bash -c \"pip install -q -e . && nnabla-browser --port 8888\""

[packages]
gevent = "*"
flask = "*"
watchdog = "*"
google = "*"
protobuf = "*"
numpy = "*"
nnabla = "*"

[dev-packages]
wheel = "*"
yapf = "*"
isort = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
