[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "sh ./scripts/start_dev_server.sh"

[packages]
gevent = "*"
flask = "*"
watchdog = "*"
google = "*"
protobuf = "*"
numpy = "*"
nnabla = "*"

[dev-packages]
wheel = "*"
yapf = "*"
isort = "*"

[requires]
python_version = "3.7"
